---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_KEY>&per_page=1&query=austin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_KEY>&page=1441&per_page=1&query=austin>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_KEY>&page=2&per_page=1&query=austin>;
        rel="next"
      X-Total:
      - '1441'
      X-Per-Page:
      - '1'
      Etag:
      - W/"e6ac82d4945ed27e97f92460049c58df"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"total":1441,"total_pages":1441,"results":[{"id":"ztVcGTSD8xw","created_at":"2020-05-08T23:06:58-04:00","updated_at":"2021-11-14T13:14:51-05:00","promoted_at":null,"width":5472,"height":3648,"color":"#a6c0d9","blur_hash":"LsG[_~WCbakD?woJoLs:p0t6WXj?","description":"Downtown
        Austin with view of Capitol building taken from South Congress Bridge. ","alt_description":"man
        in black jacket walking on bridge near body of water during daytime","urls":{"raw":"https://images.unsplash.com/photo-1588993608283-7f0eda4438be?ixid=MnwyNTkzNDl8MHwxfHNlYXJjaHwxfHxhdXN0aW58ZW58MHx8fHwxNjM2OTQ0NTk5\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1588993608283-7f0eda4438be?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNTkzNDl8MHwxfHNlYXJjaHwxfHxhdXN0aW58ZW58MHx8fHwxNjM2OTQ0NTk5\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1588993608283-7f0eda4438be?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTkzNDl8MHwxfHNlYXJjaHwxfHxhdXN0aW58ZW58MHx8fHwxNjM2OTQ0NTk5\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1588993608283-7f0eda4438be?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTkzNDl8MHwxfHNlYXJjaHwxfHxhdXN0aW58ZW58MHx8fHwxNjM2OTQ0NTk5\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1588993608283-7f0eda4438be?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTkzNDl8MHwxfHNlYXJjaHwxfHxhdXN0aW58ZW58MHx8fHwxNjM2OTQ0NTk5\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/ztVcGTSD8xw","html":"https://unsplash.com/photos/ztVcGTSD8xw","download":"https://unsplash.com/photos/ztVcGTSD8xw/download?ixid=MnwyNTkzNDl8MHwxfHNlYXJjaHwxfHxhdXN0aW58ZW58MHx8fHwxNjM2OTQ0NTk5","download_location":"https://api.unsplash.com/photos/ztVcGTSD8xw/download?ixid=MnwyNTkzNDl8MHwxfHNlYXJjaHwxfHxhdXN0aW58ZW58MHx8fHwxNjM2OTQ0NTk5"},"categories":[],"likes":86,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"5J-dWPigsHo","updated_at":"2021-11-10T22:37:24-05:00","username":"mitchkmetz","name":"Mitchell
        Kmetz","first_name":"Mitchell","last_name":"Kmetz","twitter_username":"MitchellKmetz","portfolio_url":null,"bio":null,"location":"Virginia","links":{"self":"https://api.unsplash.com/users/mitchkmetz","html":"https://unsplash.com/@mitchkmetz","photos":"https://api.unsplash.com/users/mitchkmetz/photos","likes":"https://api.unsplash.com/users/mitchkmetz/likes","portfolio":"https://api.unsplash.com/users/mitchkmetz/portfolio","following":"https://api.unsplash.com/users/mitchkmetz/following","followers":"https://api.unsplash.com/users/mitchkmetz/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1553621834185-9805ce6fb9a0?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1553621834185-9805ce6fb9a0?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1553621834185-9805ce6fb9a0?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"mitchkmetz","total_collections":0,"total_likes":2,"total_photos":30,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"mitchkmetz","portfolio_url":null,"twitter_username":"MitchellKmetz","paypal_email":null}},"tags":[{"type":"search","title":"austin"},{"type":"search","title":"congress
        bridge bats"},{"type":"search","title":"united states"}]}]}'
  recorded_at: Mon, 15 Nov 2021 16:16:00 GMT
recorded_with: VCR 6.0.0
