---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_KEY>&exclude=minutely,alerts&lat=30.26497&lon=-97.746598&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.265,"lon":-97.7466,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1636992963,"sunrise":1636981016,"sunset":1637019275,"temp":67.77,"feels_like":68.47,"pressure":1020,"humidity":90,"dew_point":64.72,"uvi":1.86,"clouds":0,"visibility":10000,"wind_speed":3,"wind_deg":135,"wind_gust":8.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1636992000,"temp":67.77,"feels_like":68.47,"pressure":1020,"humidity":90,"dew_point":64.72,"uvi":1.86,"clouds":0,"visibility":10000,"wind_speed":9.55,"wind_deg":206,"wind_gust":15.48,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1636995600,"temp":69.08,"feels_like":69.64,"pressure":1020,"humidity":84,"dew_point":64.04,"uvi":3.01,"clouds":0,"visibility":10000,"wind_speed":11.41,"wind_deg":202,"wind_gust":15.7,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1636999200,"temp":71.38,"feels_like":71.8,"pressure":1020,"humidity":76,"dew_point":63.43,"uvi":3.78,"clouds":0,"visibility":10000,"wind_speed":11.63,"wind_deg":200,"wind_gust":14.61,"weather":[{"id":800,"mai[...]
