---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"89-q3mDLnm/woJGRdOtqBBQJs2FGGE"
    body:
      encoding: UTF-8
      string: '{"activity":"Make your own LEGO creation","type":"recreational","participants":1,"price":0,"link":"","key":"1129748","accessibility":0.1}'
  recorded_at: Mon, 15 Nov 2021 16:21:59 GMT
recorded_with: VCR 6.0.0
