---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"78-tZHpEjYTiXlvBBUX8OzulbytI3Q"
    body:
      encoding: UTF-8
      string: '{"activity":"Write a poem","type":"recreational","participants":1,"price":0,"link":"","key":"8688620","accessibility":0}'
  recorded_at: Mon, 15 Nov 2021 17:26:57 GMT
recorded_with: VCR 6.0.0
