---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_KEY>&exclude=minutely,alerts&lat=30.26497&lon=-97.746598&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.265,"lon":-97.7466,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1636934749,"sunrise":1636894565,"sunset":1636932905,"temp":71.08,"feels_like":71.13,"pressure":1017,"humidity":69,"dew_point":60.4,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3,"wind_deg":154,"wind_gust":5.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1636934400,"temp":71.08,"feels_like":71.13,"pressure":1017,"humidity":69,"dew_point":60.4,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":5.77,"wind_deg":166,"wind_gust":9.86,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1636938000,"temp":70.47,"feels_like":70.41,"pressure":1017,"humidity":68,"dew_point":59.41,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":5.99,"wind_deg":170,"wind_gust":11.54,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1636941600,"temp":69.39,"feels_like":69.22,"pressure":1018,"humidity":68,"dew_point":58.37,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":4.7,"wind_deg":167,"wind_gust":9.69,"weather":[{"id":800,"main":"Clea[...]
