---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_KEY>&exclude=minutely,alerts&lat=30.26497&lon=-97.746598&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.265,"lon":-97.7466,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1636838889,"sunrise":1636808115,"sunset":1636846535,"temp":70.61,"feels_like":68.83,"pressure":1021,"humidity":31,"dew_point":38.55,"uvi":2.16,"clouds":75,"visibility":10000,"wind_speed":1.99,"wind_deg":90,"wind_gust":5.99,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1636837200,"temp":70.61,"feels_like":68.83,"pressure":1021,"humidity":31,"dew_point":38.55,"uvi":2.16,"clouds":75,"visibility":10000,"wind_speed":3.36,"wind_deg":170,"wind_gust":4.52,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1636840800,"temp":70.18,"feels_like":68.25,"pressure":1021,"humidity":29,"dew_point":36.48,"uvi":0.94,"clouds":60,"visibility":10000,"wind_speed":5.08,"wind_deg":172,"wind_gust":6.35,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1636844400,"temp":68.81,"feels_like":66.76,"pressure":1021,"humidity":29,"dew_point":35.29,"uvi":0.23,"clouds":45,"visibility":10000,"wind_speed":6.96,"wind_deg":161,"wind_gust":8.21,"weather":[{"id":802[...]
