---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_KEY>&exclude=minutely,alerts&lat=30.26497&lon=-97.746598&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.265,"lon":-97.7466,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1636943743,"sunrise":1636894565,"sunset":1636932905,"temp":64.11,"feels_like":64.08,"pressure":1019,"humidity":82,"dew_point":58.51,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":0,"wind_deg":0,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1636941600,"temp":64.69,"feels_like":64.56,"pressure":1019,"humidity":79,"dew_point":58.03,"uvi":0,"clouds":17,"visibility":10000,"wind_speed":4.56,"wind_deg":180,"wind_gust":10.31,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1636945200,"temp":64.11,"feels_like":64.08,"pressure":1019,"humidity":82,"dew_point":58.51,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":4.88,"wind_deg":190,"wind_gust":11.21,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1636948800,"temp":64.4,"feels_like":64.29,"pressure":1019,"humidity":80,"dew_point":58.1,"uvi":0,"clouds":18,"visibility":10000,"wind_speed":4.56,"wind_deg":200,"wind_gust":9.17,"weather":[{"id":801,"main":"C[...]
