---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_KEY>&exclude=minutely,alerts&lat=30.26497&lon=-97.746598&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.265,"lon":-97.7466,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1637033752,"sunrise":1636981016,"sunset":1637019275,"temp":67.84,"feels_like":68.13,"pressure":1017,"humidity":81,"dew_point":61.79,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":1.99,"wind_deg":158,"wind_gust":5.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1637031600,"temp":67.95,"feels_like":68.11,"pressure":1017,"humidity":78,"dew_point":60.84,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":8.75,"wind_deg":170,"wind_gust":23.55,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1637035200,"temp":67.84,"feels_like":68.13,"pressure":1017,"humidity":81,"dew_point":61.79,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":10.2,"wind_deg":180,"wind_gust":27.56,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1637038800,"temp":67.39,"feels_like":67.68,"pressure":1017,"humidity":82,"dew_point":61.7,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":9.53,"wind_deg":184,"wind_gust":28.7,"weather":[{"id":800,"main":"Clea[...]
