---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"85-fU2M/BtN0iznyUB2Kq6Y9WMCCT8"
    body:
      encoding: UTF-8
      string: '{"activity":"Watch a classic movie","type":"recreational","participants":1,"price":0.1,"link":"","key":"8081693","accessibility":0.1}'
  recorded_at: Mon, 15 Nov 2021 17:27:59 GMT
recorded_with: VCR 6.0.0
