---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8b-wcpqUNZh//FBUDSr2/HD5bxgE4A"
    body:
      encoding: UTF-8
      string: '{"activity":"Fill out a basketball bracket","type":"recreational","participants":1,"price":0,"link":"","key":"7806284","accessibility":0.1}'
  recorded_at: Tue, 16 Nov 2021 03:37:14 GMT
recorded_with: VCR 6.0.0
